form(action=(arcadeGame ? '/arcadeGames/update' : '/arcadeGames'), method="POST")
  if arcadeGame
    input(type="hidden", name="id", value=arcadeGame.id)
  .form-group
    label Title
    input.form-control(name="arcadeGame[title]", required, value=(arcadeGame ? arcadeGame.title : null)) 

  .form-group
    label Rating
    textarea.form-control(name="arcadeGame[rating]")
      = arcadeGame ? arcadeGame.rating : null

  .form-group
    label Description
    textarea.form-control(name="arcadeGame[description]")
      = arcadeGame ? arcadeGame.description : null

  .form-group
    label Genre
    select.form-control(name="arcadeGame[genre]", required)
      each genre in ['FIGHTING', 'SPORT', 'STRATEGY', 'PUZZLE', 'ARCADE', 'PLATFORMER', 'OTHER']
        option(value=genre, selected=(arcadeGame && arcadeGame.genre === genre))= genre.toLowerCase()

  .form-group
    button.btn.btn-dark(type="submit") Submit


    // Title
// Rating
// Description
//Genre (enum) [fighting, sports, strategy, puzzle, arcade, platformer, other]